--- 
import Map from "../ui/Map.astro"; 

//fetch the api 
import { getHours } from "../../lib/strapi.ts"

//fetch hours
const hours = await getHours();

--- 

<footer role="contentinfo">
  <div>
    <div>
      <Map />
    </div>
    
    <div>
      <div>
        <h2>Hours & Locations</h2>
        <div>
          <!-- Here, there is only one object for hours. This object have several keys (monday, tuesday, wednesday) that we're calling -->
          <h4>Hours</h4>
          <ul>
            <li>Monday: {hours.monday}</li>
            <li>Tuesday: {hours.tuesday}</li>
            <li>Wednesday: {hours.wednesday}</li>
            <li>Thursday: {hours.thursday}</li>
            <li>Friday: {hours.friday}</li>
            <li>Saturday: {hours.saturday}</li>
            <li>Sunday: {hours.sunday}</li>
          </ul>
          <p>123 Wolf Street, Edmonton, AB T5J 2Z1</p>
        </div>
      </div>
      
      <div>
        <h3>Other Inquiries?</h3>
        <a 
          href="mailto:info@littlewolf.com"  
          aria-label="Send email to Little Wolf Restaurant"
        > <!-- !!! MUST CHANGE mailto to correct email address once we deploy !!! -->
          Contact Us
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <div>
    <p>&copy; 2026 Little Wolf Restaurant. All rights reserved. Edmonton, Alberta.</p>
  </div>
</footer>

<style>
 
</style>