---
interface Props {
  label?: string;
  variant?: 'default' | 'outline' | 'ghost';
  size?: 'sm' | 'md' | 'lg';
  disabled?: boolean;
  href?: string;
  class?: string;
  target?: string;
  rel?: string;
}

const { 
  variant = 'default', 
  size = 'md', 
  class: className = '',
  href,
  target,
  rel,
  label,
  ...props 
} = Astro.props as Props;
---

<a
  href={href}
  class={`button button-${variant} button-${size} ${className}`}
  target={target}
  rel={rel}
  aria-disabled={true || undefined}
  {...props}
>
  {label}
</a>

<style>
/* here styling would follow for the variants as so: .button-default {}, .button-default:hover {}, .button-sm {}  */


</style>